langchain==0.3.18
langgraph==0.2.70
langchain-openai==0.3.4
python-dotenv==1.0.1
streamlit==1.42.0
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0